
<%! from django.utils.translation import gettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%
course_mode_class = course_mode if course_mode else ''
%>

<style>
    body {
         background-color: transparent;
    }

    .layout-accomplishment .accomplishment-rendering{
        display: flex !important;
        justify-content: center !important;
        padding: 0px !important;
    }

    .certificate .accomplishment-rendering .wrapper-statement-and-signatories{
        width: 85% !important;
        border: none !important;
    }

    .accomplishment-rendering .accomplishment-signatories {
        border: none !important;
    }

    .accomplishment-rendering .accomplishment-statement{
        border: none !important;
    }

    .layout-accomplishment .accomplishment-rendering .accomplishment-summary{
        font-family: Arial !important;
    }

    .layout-accomplishment .accomplishment-rendering .accomplishment-recipient{
        font-family: Arial !important;
    }

    .layout-accomplishment.certificate-honor .accomplishment-main,
    .accomplishment-main{
        background-color: transparent;
    }

    .accomplishment-rendering{
	background-color: transparent;
        border-top: none !important;
        box-shadow: none !important;
    }

    .accomplishment-type{
        margin-top: 2.5rem !important;
        margin-bottom: 1rem !important;
    }

    .cert-logos-image{
        margin-bottom: 1rem !important;
    }

    .layout-accomplishment .accomplishment-signatories .signatory {
        width: calc(20%);
    }

    .aulasneo-cert-background {
        z-index: -1;
    }
        
    @media print {
     .accomplishment-rendering{
         border: none !important;
     }
     .aulasneo-cert-background {
        height: 120%;
     }
     body {
         background-color: transparent !important;
     }

    }



</style>
        <main class="accomplishment accomplishment-main">

            <div class="wrapper-accomplishment-rendering">
                <div class="accomplishment-rendering">
                    <img class="aulasneo-cert-background" src="${static.certificate_asset_url('aulasneo-cert-background')}" width="100%" height= "100%" style="position: absolute">
                    <div class="accomplishment-type">
                        <img height="60rem" class="organization-logo" src="${logo_src}" alt="${platform_name}">
                    </div>

                    <div class="wrapper-statement-and-signatories">
                        <div class="accomplishment-statement">
                            <p class="accomplishment-statement-lead">
                                <span class="accomplishment-summary copy copy-lead">${context.get("text_1", "Certifies that" | n}</span>
                                <strong class="accomplishment-recipient hd-1 emphasized">${accomplishment_copy_name}</strong>
                                <span class="accomplishment-summary copy copy-lead">${context.get("text_2", "completed the course ") | n}<strong>${accomplishment_copy_course_name}</strong>${context.get('text_3', " and is therefore awarded this certificate of completion.") | n}</span>

                            </p>

                        </div>

                        <div class="accomplishment-signatories">
                            <h3 class="accomplishment-signatories-title sr-only">${_("Noted by")}</h3>

                            <div class="wrapper-signatories">
                                <div class="list-signatories">
                                    % if certificate_data:
                                        % for signatory in certificate_data.get('signatories', []):
                                            % if signatory.get('signature_image_path'):
                                                <div class="signatory">
                                                    <img class="signatory-signature" style="display:block;" src="${static.url(signatory['signature_image_path'])}" alt="${signatory['name']}">

                                                    <h4 class="signatory-name hd-5">${signatory['name']}</h4>
                                                    <p class="signatory-credentials copy copy-micro">
                                                        <span class="role">${signatory['title']}</span>
                                                        <span class="organization">${signatory['organization']}</span>
                                                    </p>
                                                </div>
                                            % endif
                                        % endfor
                                    % endif
                                </div>
                            </div>
                        </div>
                    </div>


                    <img src="${static.certificate_asset_url(footer_slug)}" width="85%" class="cert-logos-image">

                </div>
            </div>


    <div class="wrapper-accomplishment-metadata">
        <div class="accomplishment-metadata">
            <h2 class="accomplishment-metadata-title hd-6">${accomplishment_copy_more_about}</h2>

            <div class="wrapper-metadata">
                <dl class="metadata accomplishment-recipient">
                    <dt class="label sr-only">${_("Awarded to:")}</dt>
                    <dd class="value copy copy-meta">
                        <span class="recipient-img">
                            <img class="src" src="/static/certificates/images/demo-user-profile.png" alt="Recipient Image">
                        </span>
                        <div class="recipient-details">
                            <h3 class="recipient-name">${accomplishment_copy_name}</h3>
                            <p class="recipient-username">${accomplishment_copy_username} @ ${platform_name}</p>
                        </div>
                    </dd>
                </dl>
                <dl class="metadata accomplishment-id">
                    <dt class="label copy copy-meta">${certificate_id_number_title}:</dt>
                    <dd class="value copy copy-base">${certificate_id_number}</dd>
                </dl>
                <dl class="metadata accomplishment-date">
                    <dt class="label copy copy-meta">${certificate_date_issued_title}</dt>
                    <dd class="value copy copy-base">${certificate_date_issued}</dd>
                </dl>
            </div>
        </div>
    </div>

</main>
