@font-face {
  font-family: 'Quicksand Variable';
  src: url('#{$static-path}/fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('#{$static-path}/fonts/static/Quicksand-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('#{$static-path}/fonts/static/Quicksand-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('#{$static-path}/fonts/static/Quicksand-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('#{$static-path}/fonts/static/Quicksand-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('#{$static-path}/fonts/static/Quicksand-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* Example:

@font-face {
    font-family: 'font name';
    src: url('#{$static-path}/fonts/font_name-Regular.woff2') format('woff2'),
        url('#{$static-path}/fonts/font_name-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*/
