$static-path: '..' !default;

// Add an image as banner

$homepage-bg-image: url('#{$static-path}/images/banner.png');


$primary : #24497f;
$secondary: #cdcdcd;

$brand: #ef9245;
$success: #178253;
$info: #4e359e;
$danger: #C32D3A;
$warning: #FFD900;
$light: #E1DDDB;
$dark: #273F2F;
$accent-a: #00BBF9;
$accent-b: #FFEE88;


$font-family-sans-serif: 'Quicksand Variable', 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif !default;
$font-family-title: 'Quicksand Variable', 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

$monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !default;
$serif: Georgia, Cambria, 'Times New Roman', Times, serif !default;

// newer variables/standards
$f-serif: Georgia, Cambria, 'Times New Roman', Times, serif !default;
$f-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !default;


// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';
