<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%! from django.utils.translation import gettext as _ %>

<section class="courses-container">
  <section class="find-courses">
    <div class="filters-discovery">${_("Find the right course for you")}</div>
    <div class="courses">
      <ul class="courses-listing">
        % for course in courses:
        <li class="courses-listing-item course-card">
          <%include file="course.html" args="course=course" />
        </li>
        % endfor
      </ul>
      <div id="no-courses-message" class="no-courses-message" style="display: none;">
        ${_("No courses found.")}
      </div>
    </div>
  </section>
</section>