## mako

<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>
<%!
from django.urls import reverse
from django.utils.translation import gettext as _
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>

<%
  show_explore_courses = settings.FEATURES.get('COURSES_ARE_BROWSABLE')
  self.real_user = getattr(user, 'real_user', user)
  enable_help_link = settings.FEATURES.get('ENABLE_HELP_LINK')

  support_link = configuration_helpers.get_value('SUPPORT_SITE_LINK', settings.SUPPORT_SITE_LINK)
  doc_link = get_online_help_info(online_help_token)['doc_url']

  if online_help_token == "instructor":
    help_link = doc_link
  elif support_link:
    help_link = support_link
  else:
    help_link = doc_link
%>

<div class="nav-links">
  <div class="main">
    % if show_dashboard_tabs:
      <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
        <a class="${'active ' if reverse('dashboard') == request.path else ''}tab-nav-link" href="${reverse('dashboard')}"
             aria-current="${'page' if reverse('dashboard') == request.path else 'false'}">
             ${_("Courses")}
        </a>
      </div>
      % if show_program_listing:
        <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
          <a class="${'active ' if reverse('program_listing_view') in request.path else ''}tab-nav-link" href="${reverse('program_listing_view')}"
             aria-current="${'page' if reverse('program_listing_view') == request.path else 'false'}">
             ${_("Programs")}
          </a>
        </div>
      % endif
    % endif
    % if show_explore_courses:
      <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
          <a class="tab-nav-link discover-new-link" href="${marketing_link('COURSES')}"
             aria-current="${'page' if '/courses' in request.path else 'false'}">
             ${_("Discover New")}
          </a>
      </div>
    % endif
  </div>
  <!-- <div class="secondary">
    % if enable_help_link:
      <div class="mobile-nav-item hidden-mobile nav-item">
        <a class="help-link" href="${help_link}" rel="noopener" target="_blank">${_("Help")}</a>
      </div>
    % endif
    <%include file="user_dropdown.html"/>
  </div> -->
</div>


<script>
  document.addEventListener('DOMContentLoaded', function () {
      const banner = document.querySelector('.home-banner');
      const logoImg = document.getElementById('logo-img');

      const paginasConScrolled = ['/cookies', '/privacy', '/tos', '/about'];

      function cambiarLogoBlanco() {
          logoImg.src = "${static.url('images/logo-white.png')}";
      }

      function cambiarLogoColor() {
          logoImg.src = "${static.url('images/logo.png')}";
      }

      if (paginasConScrolled.includes(window.location.pathname)) {
          banner.classList.add('scrolled');
          cambiarLogoColor();
      } else {
          window.addEventListener('scroll', function () {
              if (window.scrollY > 50) {
                  banner.classList.add('scrolled');
                  cambiarLogoColor();
              } else {
                  banner.classList.remove('scrolled');
                  cambiarLogoBlanco();
              }
          });
      }

      banner.addEventListener('mouseenter', function () {
          banner.classList.add('scrolled');
          cambiarLogoColor();
      });

      banner.addEventListener('mouseleave', function () {
          if (window.scrollY <= 50 && !paginasConScrolled.includes(window.location.pathname)) {
              banner.classList.remove('scrolled');
              cambiarLogoBlanco();
          }
      });
  });
</script>

<script>
  function toggleMenu() {
      const navHeader = document.querySelector('.nav-header');
      const userMenu = document.querySelector('.dropdown-user-menu');
      const existingLinks = navHeader.querySelector('.user-links');

      navHeader.classList.toggle('show');

      if (navHeader.classList.contains('show')) {
          if (!existingLinks) {
              const userLinksContainer = document.createElement('div');
              userLinksContainer.classList.add('user-links');
              userMenu.querySelectorAll('.link-menu').forEach(link => {
                  const clonedLink = link.cloneNode(true);
                  userLinksContainer.appendChild(clonedLink);
              });
              navHeader.appendChild(userLinksContainer);
          }
      } else {
          removeUserLinks();
      }
  }

  function removeUserLinks() {
      const userLinksContainer = document.querySelector('.nav-header .user-links');
      if (userLinksContainer) {
          userLinksContainer.remove();
      }
  }

  window.addEventListener('resize', function () {
      if (window.innerWidth > 768) {
          removeUserLinks();
          document.querySelector('.nav-header').classList.remove('show');
      }
  });

  // Ocultar menú al salir con el mouse
  document.addEventListener('DOMContentLoaded', function () {
      const navHeader = document.querySelector('.nav-header');
      navHeader.addEventListener('mouseleave', function () {
          navHeader.classList.remove('show');
          removeUserLinks();
      });
  });
</script>
<div class="line-header"></div>
<div class="home-banner">
  <a href="/">
    <img id="logo-img" class="left-logo" src="${static.url('images/logo-white.png')}" />
  </a>
  <button class="menu-toggle" onclick="toggleMenu()">☰</button>
  <div class="nav-header">
    <a class="link" href="/">HOME</a>
    <a class="link" href="https://aulasneo.com/">ABOUT</a>

    <div class="secondary-header">
      <%include file="user_dropdown.html" />
    </div>
  </div>
</div>